.wrapper {
	margin: 0 auto;
	min-width: 1170px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a:hover {
	color: #00bc9c;
}

a {
	text-decoration: none;
	color: #506a85;
}

.header-top {
	font-size: 12px;
	background-color: #f5f7fa;
}

.header-info {
	padding: 14px;
	float: left;
}

.header-info > li {
	display: inline-block;
}

.header-info > li:not(:first-child) {
	margin-left: 28px;
}

.header-address {
	text-decoration: none;
	font-size: 12px;
	position: relative;
	line-height: 14px;
	padding-left: 20px;
}

.header-address:before {
	position: absolute;
	left: 0;
	width: 12px;
	height: 13px;
	top: 2px;
	content: "";
}

.header-address:before {
	background-image: url("../img/header/icon-mail-off.png");
}

.header-address:hover:before {
	background-image: url("../img/header/icon-mail-on.png");
}

.header-tel {
	position: relative;
	line-height: 14px;
	padding-left: 20px;
	float: left;
}

.header-tel:before {
	position: absolute;
	left: 0;
	width: 12px;
	height: 13px;
	top: 2px;
	content: "";
}

.header-tel:before {
	background-image: url(../img/header/icon-tel-off.png);
}

.header-tel:hover:before {
	background-image: url(../img/header/icon-tel-on.png);
}

.header-sns {
	float: right;
}

.header-sns > li {
	float: left;
}

.sns-content {
	display: block;
	position: relative;
	width: 26px;
	height: 42px;
	font-size: 12px;
}

.sns-content::before {
	content: "";
	background: no-repeat center;
}

.facebook:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-facebook-off.png");
}

.facebook:hover {
	background-color: #4668b3;
}

.facebook:hover:before {
	background-image: url("../img/header/icon-facebook-on.png");
}

.google:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-google-off.png");
}

.google:hover {
	background-color: #de5745;
}

.google:hover:before {
	background-image: url("../img/header/icon-google-on.png");
}

.twitter:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-twitter-off.png");
}

.twitter:hover {
	background-color: #2fbbed;
}

.twitter:hover:before {
	background-image: url("../img/header/icon-twitter-on.png");
}

.pinterest:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-pinterest-off.png");
}

.pinterest:hover {
	background-color: #d94348;
}

.pinterest:hover:before {
	background-image: url("../img/header/icon-pinterest-on.png");
}

.behance:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-behance-off.png");
}

.behance:hover {
	background-color: #3079ff;
}

.behance:hover:before {
	background-image: url("../img/header/icon-behance-on.png");
}

.dribbble:before {
	position: absolute;
	width: 26px;
	height: 42px;
	top: 0;
	background-image: url("../img/header/icon-dribbble-off.png");
}

.dribbble:hover {
	background-color: #eb6397;
}

.dribbble:hover:before {
	background-image: url("../img/header/icon-dribbble-on.png");
}

.header-bottom {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mb30 {
	margin-bottom: 30px;
}

.inner {
	width: 1170px;
	margin: 0 auto;
}

.reen {
	float: left;
	background-image: url("../img/header/logo.png");
}

.reen:hover {
	opacity: 0.6;
}

.header-menu {
	float: right;
}

.header-menu > li {
	float: left;
	margin-left: 44px;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
}

.main-image {
	width: 100%;
	height: 850px;
	background-image: url("../img/main/keyvisual.jpg");
}

h1 {
	font-size: 78px;
	color: #fff;
	text-align: center;
	padding-top: 300px;
}

.main-text {
	margin-top: 20px;
	text-align: center;
	color: #a3b1bf;
	font-size: 24px;
	line-height: 150%;
}

.mb50 {
	margin-bottom: 50px;
}

.first-bottom {
	width: 300px;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 0 4px #00bc9c;
	line-height: 60px;
}

.botton {
	text-align: center;
	position: relative;
	display: inline-block;
	background-color: #00bc9c;
	color: #fff;
	transition: all .3s;
	top: 0;
	box-shadow: 0px 2px 0px 1px #00a085;
	border: none;
}

.botton:hover {
	box-shadow: none;
	transform: translate3d(0,2px,0);
}

.mb300 {
	margin-bottom: 300px;
}

.mt120 {
	margin-top: 120px;
}

.main-second {
	color: #506a85;
}

.second-title {
	font-size: 44px;
	text-align: center;
}

.second-text {
	line-height: 150%;
	margin-top: 30px;
	font-size: 22px;
	text-align: center;
}

.second-bottom-text {
	display: inline-block;
	margin-top: 70px;
	margin-bottom: 120px;
	margin-left: 150px;
}

.second-bottom-text > li {
	width: 380px;
	height: 200px;
	display: inline;
	float: left;
}

.discription {
	float: left;
	margin: 20px;
}

.second-sub-title {
	font-size: 26px;
}

.second-sub-text {
	line-height: 150%;
	font-size: 16px;
	margin-top: 20px;
	overflow: auto;
}

.third-wrapper {
	padding: 120px;
	text-align: center;
	background-color: #f5f7fa;
	color: #506a85;
}

.third-title {
	font-size: 44px;
}

.third-text {
	font-size: 16px;
	margin-top: 30px;
}

.top-main-work {
	height: 554px;
}

.main-work {
	position: relative;
	margin-top: 50px;
	float: left;
	overflow: hidden;

}

.work-word {
	padding: 30px;
	background-color: #fff;
}

.motel {
	transition: all 0.3s;
}

.motel:hover{
	background-color: #00bc9c;
}

.main-work:hover .back-content {
	color: #fff;
	bottom: 0;
}f

.back-content {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00bc9c;
	opacity: 0.9;
}

.back-word {

}

.ml30 {
	margin-left: 30px;
}

.four-mini-box {
	margin-top: 80px;
	/*height: 340px;*/
}

.four-box {
	position: relative;
	width: 270px;
	height: 185px;
	float: left;
	overflow: hidden;
}

.four-box:hover .back-mini-content {
	color: #fff;
	bottom: 0;
}

.back-mini-content {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00bc9c;
	opacity: 0.9;
}

.mb100 {
	margin-bottom: 100px;
}

.main-bottom {
	display: block;
	margin-top: 80px;
	color: #506a85;
}

.h5-title {
	text-align: center;
	font-size: 44px;
}

.h5-word {
	text-align: center;
	font-size: 22px;
	margin-top: 30px;
	line-height: 150%;
}

.second-botton {
	width: 180px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 0 4 #00bc9c;
	line-height: 30px;
	margin-left: 600px;
	border-radius: 5px;
}

.footer {
	width: 100%;
}

.footer-wrapper {
	margin-top: 120px;
}

.footer-top {
	margin: 0 auto;
	background-color: #354859;
	color: #fff;
}

.footer-four-box {
	display: inline-block;
}

.footer-box1 {
}

.footer-sub-title {
	font-size: 16px;
}

.footer-mini-box {
	margin-bottom: 20px;
}

.footer-reen {
	padding: 30px 0px 0px;
}

.footer-box2 {

}

.footer-four-box > li {
	width: 22%;
	margin-top: 75px;
	float: left;
}

.footer-four-box > li:not(:first-child) {
	margin-left: 40px;
}

.footer-img-box {
	margin-top: 30px;
}

.footer-box3 {
	margin-bottom: 30px;
}

.footer-word {
	color: #506a85;
	margin-top: 30px;
	line-height: 150%;
}

.footer-link {
	margin-top: 20px;
}

.footer-content {
	position: relative;
	font-size: 14px;
	line-height: 14px;
	padding-left: 20px;
}

.footer-content:before {
	position: absolute;
	width: 11px;
	height: 13px;
	content: "";
	left: 0;
	top: 4px;
	background: no-repeat center;
}

.address:before {
	background-image: url("../img/footer/icon-address-off.png");
}

.address:hover:before {
	background-image: url("../img/footer/icon-address-on.png");
}

.tel:before {
	background-image: url("../img/footer/icon-tel-off.png");
}

.tel:hover:before {
	background-image: url("../img/footer/icon-tel-on.png");
}

.mail:before {
	background-image: url("../img/footer/icon-mail-off.png");
}

.mail:hover:before {
	background-image: url("../img/footer/icon-mail-on.png");
}

.footer-form-box {
	margin-top: 20px;
}

.footer-form {
	padding: 5px;
	position: relative;
}

.footer-input {
	width: 100%;
	height: 25px;
	border: 0;
	background-color: #fff;
	opacity: 0.8;
	background: rgba(20,20,20,0.2);
	font-size: 14px;
	padding: 10px;
}

.footer-botton {
	position: absolute;
	right: -10px;
	top: 13px;
	background-color: #00bc9c;
	color: #fff;
	font-size: 16px;
	padding: 5px;
	border: 0;
	box-shadow: 0px 2px 0px 0px #00a085;
}

.footer-bottom {
	background-color: #2e3d4c;
	color: #506a85;
	padding: 30px;
}

.footer-bottom-left {
	float: left;
}

.footer-bottom-right {
	float: right;
}

.footer-bottom-right > li {
	float: left;
}

.footer-bottom-right >li:not(:first-child):before {
	content: "・";
}